/* ------------------------------------------------------------ *\
    Category
\* ------------------------------------------------------------ */

.c-category {
    padding: 40px 0 30px;

    .h2 {
        margin-bottom: 20px;
    }
}

.c-category ~ .c-category {
    border-top: 1px solid rgba(0,0,0, .2);
}