$font-base: 'Roboto', 'Arial', sans-serif;
$color-base: #fff;
$color-body-bg: #0D2436;
$color-highlight: #009B86;
$color-hover: #34AC9C;
$color-hover-text: #CCCCCC;
$tablet-portrait: 1023px;
$mobile: 767px;
$mobile-small: 374px;